body{
    background: #34495e; 
}

#container{
    margin: 0 auto;
    width: 450px;
    height: 500px;
    border-radius: 5%;
    position: relative;
}

#nav{
    transform: translate(18%, 5%);
}

#content{
    position: absolute;
    background:#2c3e50;
    width: 80%;
    padding: 0 3em;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 5%;
}

a, a:active, a:hover{
    text-decoration: none;
    color: #bdc3c7;
}

body{
    margin: 1em;
}

